table {
    width: 100%;
}

.table-row {
    width: 100%;
}

tr:hover {
    background: whitesmoke;
}

tr.row-selected {
    background: lightblue;
}

::ng-deep .share-tooltip{
    background-color:black;
    color: rgba(255,255,255, 0.9) !important;
    font-weight: 600;
    font-size: 14px;
}

.table-container {
    height: 600px;
    overflow: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  